/anonymous
/apache
/apache_start.bat
/apache_stop.bat
/catalina_service.bat
/catalina_start.bat
/catalina_stop.bat
/cgi-bin
/contrib
/ctlscript.bat
/FileZillaFTP
/filezilla_setup.bat
/filezilla_start.bat
/filezilla_stop.bat
/img
/install
/killprocess.bat
/licenses
/locale
/mailoutput
/mailtodisk
/MercuryMail
/mercury_start.bat
/mercury_stop.bat
/mysql
/mysql_start.bat
/mysql_stop.bat
/passwords.txt
/perl
/php
/phpMyAdmin
/properties.ini
/readme_de.txt
/readme_en.txt
/sendmail
/service.exe
/setup_xampp.bat
/src
/test_php.bat
/tmp
/tomcat
/uninstall.dat
/uninstall.exe
/webalizer
/webdav
/xampp-control.exe
/xampp-control.ini
/xampp_shell.bat
/xampp_start.exe
/xampp_stop.exe